form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(245, 245, 237);
}

.title {
    color: red;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

input[type=text] {
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
}

.button {
    margin-top: 10px;
    color: white;
    background-color: blue;
    padding: 15px;
    border: 0;
    border-radius: 15px;
}

.button:hover {
    color: rgb(153, 149, 149);
    background-color: rgb(68, 68, 245);
}

.button:active {
    padding: 11px;
    color: rgb(153, 149, 149);
    border: 4px solid rgb(125, 125, 224);
}

.bio {
    margin-top:10px;
    display: flex;
}

.bioTextArea {
    outline: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
